@tailwind base;
@tailwind components;
@tailwind utilities;

.first-banner{
  background-image: url('../../public/vegan.png');
  
  height: 100vh;
  width: 100%;

}
.title {
  width: 100%;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -4px;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
  color: white;
  padding-top: 14rem;
  
}
.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-button{
  color: white;
  font-size: 20px;
  background: #59981A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8DC26F, #59981A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8DC26F, #59981A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.green-text{
  color: #59981A;
}
.chat-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media only screen and (max-width: 600px){
  .wm-text{font-size: 25px;}
  .smaller-text{font-size: 22px;}
  .mindset-text-container{padding-left: 0;}
  .left-text-container{padding-right: 0;}
  .title{
    padding-top: 10rem;
    font-size: 65px;
  }
}